version: 2
jobs:
  buildAndPush:
    docker:
      - image: ubuntu:18.04
    steps:
      - checkout
      - setup_remote_docker:
      - run:
          name: Set the tag for the image
          command:  echo 'export TAG=$(cat VERSION)-$CIRCLE_BUILD_NUM' >> $BASH_ENV
      - run: |
          docker build -t $DOCKER_USER/simple-api-php:$TAG . -f Dockerfile.php
          docker build -t $DOCKER_USER/simple-api-web:$TAG . -f Dockerfile.web
          echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
          docker push $DOCKER_USER/simple-api-php:$TAG
          docker push $DOCKER_USER/simple-api-web:$TAG

workflows:
  version: 2
  build-push:
    jobs:
      - buildAndPush
